[user]
	name = Orest Tokovenko
	email = hi@oresttokovenko.com
[core]
	editor = nvim
	excludesfile = ~/.gitignore_global
[color]
    ui = auto
[format]
    pretty = format:%C(blue)%ad%Creset %C(yellow)%h%C(green)%d%Creset %C(blue)%s %C(magenta) [%an]%Creset
[push]
	autoSetupRemote = True
[maintenance]
	auto = False
	strategy = incremental
[alias]
	logp = log --graph --abbrev-commit --decorate --first-parent main..
	# logp = log --graph --abbrev-commit --decorate --first-parent master..

	contributors = shortlog -sn

	diffs = diff --name-only origin/main..HEAD
	# diffs = diff --name-only origin/master..HEAD