[user]
	name = Orest Tokovenko
	email = hi@oresttokovenko.com
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[color]
    ui = auto
[format]
    pretty = format:%C(blue)%ad%Creset %C(yellow)%h%C(green)%d%Creset %C(blue)%s %C(magenta) [%an]%Creset
[push]
	autoSetupRemote = True
[alias]
	# Adding all files in staging + commit with message + push to remote
    acp = "!f() { git add -A ; git commit -m \"$1\"; git push; }; f"

	# Shows a graphical log of commits from the upstream branch to HEAD
	logp = log --graph --abbrev-commit --decorate --first-parent @{u}..

	# Listing all contributors to the git project
	contributors = shortlog -sn

	# Show diff from upstream to HEAD
	diffs = diff --name-only @{u}..HEAD
