[user]
	name = Orest Tokovenko
	email = hi@oresttokovenko.com
[core]
	editor = code --wait
	excludesfile = ~/.gitignore_global
[color]
    ui = auto
[format]
    pretty = format:%C(blue)%ad%Creset %C(yellow)%h%C(green)%d%Creset %C(blue)%s %C(magenta) [%an]%Creset
[push]
	autoSetupRemote = origin